h2{
    font-weight: bold;
}
h1{
    text-align: center;
}

.policies{
    margin: 0 50px;
}
.main{
    width: full;
    height: 400px;
    background-image: url('https://img.freepik.com/free-photo/brown-shoes-isolated-white-background-studio_268835-1354.jpg?w=826');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

}
.main::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(15, 15, 15, 0.827);
}
.text {
    position: relative;
    text-align: center;
    font-size: 30px;
    color: white;
  }	



  .footer{
    background-color: rgb(15, 15, 15);
    margin-top: 20px;
    height: 200px;
    color: white;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}
.footer-links{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-flow: row;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.navbar{
    display: flex;
    flex-flow: row;
    justify-content: between;
    padding: 0 20px 0 20px;
}
.navbar-nav{
    display: flex;
    flex-flow: row;
    column-gap: 40px;
}
.policies{
    display: flex;
    flex-flow: column;
    margin-top: 40px;
    justify-content: space-evenly;
    row-gap: 20px;
}
.desc{
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}
.ri-arrow-up-circle-fill {
    position: absolute;
    right: 0;
    margin-bottom: 180px;
    font-size: 50px;
    z-index: 2;
    cursor: pointer;
  }
  .ri-arrow-up-circle-fill:hover {
    font-size: 55px;
  }
  
@media (max-width: 768px) {
    p{
        font-size: 20px;
        margin-top: 20px;
    }
    br{
        display: none;
    }
    .desc{
        padding: 0 20px; 
    }
 }